.banniere{
    color: #ecf8f8;
    background: #11998e;  /* fallback for old browsers */
    background: var(--greenBg);
    text-align: left;
}

.section{
    color: #6d6875;

    text-align: justify !important;
}
.section h5{
    color: black;
}